.avatar{
    width:150px;
}

.card{
    width:400px;
    margin:20px auto 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #C5BAAF;
    color:#2b2839;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border-bottom: 5px solid #424d70;
    
}
